@import "./vars.styl";

.content__headline
  display flex

.b-layout
  &__container
    border-radius .5rem
    margin 1rem 2rem
    &--box
      border 1px solid #009d00
      border-radius 6px

.page-layout
  padding 0 2rem
  &__base
    position relative
    padding-top 6rem
  &__header
    border-radius: .5rem;
    display: flex;
    margin: 0 2rem;
    //box-shadow: 0px 3px 1px -2px rgba(0, 0, 0, 0.2), 0px 2px 2px 0px rgba(0, 0, 0, 0.14), 0px 1px 5px 0px rgba(0, 0, 0, 0.12)
    h2
      font-weight: 400;
      font-size 1.5rem
      color: green
      text-decoration: underline;
  &__container
    display flex
    padding 0 0 0 1rem

  &__right-side
    width 25%
    border-radius .5rem
    padding-top 7.8rem
    &__up
      padding-top 0
    &__calendar
      padding-top 6rem
  &__left-side
    padding 1rem
    width 75%
    border-radius .5rem
    &.sector-clear
      border none
      margin 0
      padding 1rem 0

.b_widget
  &__title
    padding 0.5rem 1rem
    color white
    background #009200
    &--top
      border-top-left-radius 0.5rem
      border-top-right-radius 0.5rem
      margin-bottom: -2px;
      z-index: 1;
      position: absolute;
      width: inherit;
  &__content
    padding-top 2.4rem

.b-item-inline
  font-size 1.4rem
  &__control
    display inline-flex
    margin-right .5rem
  &__border
    border-bottom: 2px solid #009d00
  &__right
    text-align right

.block-content
  &--inline
    display inline-flex
    flex 1 1 auto
    justify-content flex-start
    align-items center
    &__end
      float right
      justify-content flex-end
      margin-right 0.2rem
    &__center
      justify-content center
    &__left
      padding-top 1.5rem
      padding-bottom 1rem
      justify-content left
.color-picker
  width 150px

.mat-form-field {
  line-height: 1.425;
}

.text_size_middle
  font-size 1.5rem

.btn-outline__white
  color #e2e2e2 !important
  border-color #009d00 !important

.demo-layout__row
  position: relative
  width 100%

.b-container__description
  padding-top 2rem

@media (max-width 800px)
  .page-layout
    &__header
      text-align left
      h2
        font-size 1.7rem
    &__left-side
      width 60%
    &__right-side
      width 40%


@media (max-width 500px)
  .modal-title
    margin-bottom 0
    line-height 1
    font-size 1.2rem
    font-weight 400
  .b-layout
    &__container
      margin 0
      border-radius .35rem

  .page-layout
    padding 4rem 2rem 2rem
    &__container
      padding 0
    &__base
      padding 4rem 1rem 0
    &__header
      text-align left
      border none
      margin 0
      padding-left 0
      h2
        font-size 1.3rem
    &__left-side
      width 100%
      margin 1rem 0
    &__right-side
      display none
  .demo-content
    margin 0
    padding 0.5rem

  .block-content
    &--inline

      &__left
        margin 0
        padding 0
        justify-content left
